
@{
    ViewData["Title"] = "Admin Nav";
}

<div class="row admin-nav">
    <div class="col-12 col-sm-4">
        <a class="nav-link admin-nav-link a-admin-nav-link"
           asp-area="Administration" asp-controller="Administration" asp-action="DeletedInterviews">Deleted interviews</a>
    </div>
    <div class="col-12 col-sm-4">
        <a class="nav-link admin-nav-link a-admin-nav-link"
           asp-area="Administration" asp-controller="Administration" asp-action="DeletedUsers">Deleted users</a>
    </div>
    <div class="col-12 col-sm-4">
        <a class="nav-link admin-nav-link a-admin-nav-link"
           asp-area="Administration" asp-controller="Administration" asp-action="ManageNationalitiesGet">Add/Delete nationalities</a>
    </div>
</div>

