@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1 class="heading-font">@ViewData["Title"]</h1>
<p class="font-style">
    Please check your email to reset your password.
</p>

