@using DotNetInterview.Common
@{
    this.ViewData["Title"] = "Home Page";
}

@section Styles {
    <link href="@Url.Content("~/css/home.css")" rel="stylesheet" type="text/css" />
}

<div class="background">
    <div class="fond-color-navy text-center padding-yx">
        <div>
            <div class="container">
            <img class="img-resize-head" src="~/img/img5.png" alt="logo">
            <h1 class="padding-yx main-head centered">
                <strong>Shared <span class="fond-color-oggange">.</span><span>NET</span> interview</strong>
            </h1>
            </div>
            <h3 class="sub-head padding-yx">Simple way to share you recent interview</h3>
            <div class="row justify-content-center">
                <div class="col-md-6 text-formatting non-padding">
                    <p class="m-lr">
                        Share knowledge, share experience and help community. When studying many times the question among students was what would they ask me at .net job interview?
                        Are the questions different for junior, regular  or senior developer? May be there ara some trendy questions as latest version of C# is out...
                        'm I ready for a job interview or should I apply for this cool senior dev. position with so many benefits hmm...
                        You can answer many of this question by sharing your .net interview. The key here are the questions not the company you are applying for.
                        The idea is not learning by rote a company specific questions, but to generally understand what expertise and skill set you have and what you may be missing.
                    </p>
                </div>

                <div class="col-6 btn-for-xs justify-content-center m-tb">
                    <a class="btn fond-color-navy btn-md d-inline-block home-button a-link" asp-controller="Interviews" asp-action="All">Interviews</a>
                </div>

                <div class="col-md-6 text-formatting non-padding">
                    <p class="m-lr">
                        Shared .Net interview platform targets interview questions regarding .net technology stacks, although many interviewers could ask very general questions not applying only to .net.
                        Developers from around the world could share their experience. They can check if the tech level requirements vary regarding different regions around the globe.
                        By sharing your interview you also give a tip about the company, its nationality, size and job base lacation, but not specific company name as this is not the point.
                        You also can describe yourself, well it is up to you. Uploading file to a specific question is also possible as you might be given a particular problem to solve. Take part, help improve.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 btn-over-xs justify-content-center">
                    <a class="btn fond-color-navy btn-md d-inline-block home-button a-link" asp-controller="Interviews" asp-action="All">View interviews</a>

                </div>
                <div class="col-md-6 justify-content-center">
                    <a class="btn fond-color-navy btn-md d-inline-block home-button a-link" asp-controller="Interviews" asp-action="Create">Share yours</a>
                </div>
            </div>
            <div class="col-md-12 justify-content-center">
                <img class="img-resize" src="~/img/dotnet1.png" alt="logo">
            </div>
        </div>
    </div>
</div>