@page
@model IndexModel
@using DotNetInterview.Web.ViewModels.Enums;
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h4 class="heading-font">@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row font-style">
    <div class="col-md-6">
        <form id="profile-form" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Input.PhoneNumber"></label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.FirstName"></label>
                <input asp-for="Input.FirstName" class="form-control" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.LastName"></label>
                <input asp-for="Input.LastName" class="form-control" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Nationality" class="control-label required"></label>
                <select asp-for="Input.Nationality" class="form-control" asp-items="@Model.Input.Nationalities">
                    <option></option>
                </select>
                <span asp-validation-for="Input.Nationality" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.Description"></label>
                <input asp-for="Input.Description" class="form-control" />
                <span asp-validation-for="Input.Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.DateOfBirth"></label>
                <input asp-for="Input.DateOfBirth" type="date" class="form-control" />
                <span asp-validation-for="Input.DateOfBirth" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.Position"></label>
                <select asp-for="Input.Position" class="form-control" asp-items="Html.GetEnumSelectList<PersonSeniorityVM>()">
                </select>
            </div>

            <div form-group>
                <label>Current avatar</label>
                <div class="circular-portrait">
                    <img class="img-avatar" src="/uploads/imageFiles/@Model.Input.Image" alt="Avatar">
                </div>
                </div>
                <div class="form-group">
                    <label asp-for="Input.FormFile">Choose new </label>
                    <br />
                    <input asp-for="Input.FormFile" type="file" />
                    <span asp-validation-for="Input.FormFile" class="text-danger"></span>
                </div>
                <button id="update-profile-button" type="submit" class="btn btn-primary">Update</button>
</form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}