
@{
    ViewData["Title"] = "AdminPanel";
}

@section Styles {
    <link href="@Url.Content("~/css/admin-navbar.css")" rel="stylesheet" type="text/css" />
}

<div class="background">

    <partial name="_AdminNavigationPartial" />

    <div class="justify-content-center">
        <img class="center" src="~/img/gear.png" alt="settings">

    </div>
</div>