

@{
    ViewData["Title"] = "Deleted users";
}

@section Styles {
    <link href="@Url.Content("~/css/admin-navbar.css")" rel="stylesheet" type="text/css" />
}

<div class="row justify-content-center">
    <div class="col-3">
        <h3 class="admin-title">Admin Panel</h3>
    </div>
</div>

<partial name="_AdminNavigationPartial" />

<h3>Deleted users</h3>

