@model DotNetInterview.Web.ViewModels.Administration.Nationalities.ManageNationalitiesVM

@{
    ViewData["Title"] = "Manage nationalities";
}

@section Styles {
    <link href="@Url.Content("~/css/admin-navbar.css")" rel="stylesheet" type="text/css" />
}

<div class="row justify-content-center">
    <div class="col-3">
        <h3 class="admin-title">Admin Panel</h3>
    </div>
</div>

<partial name="_AdminNavigationPartial" />

<h3>Manage nationalities</h3>

<div class="form-group">
    <label asp-for="Add" class="control-label required"></label>
    <select asp-for="Add" class="form-control" data-val="true" aria-describedby="CompanyNationality-error" asp-items="Model.Nationalities">
    </select>
    <span asp-validation-for="Add" class="text-danger"></span>
</div>