@model DotNetInterview.Web.ViewModels.Administration.Nationalities.ManageNationalitiesVM

@{
    ViewData["Title"] = "Manage nationalities";
}

@section Styles {
    <link href="@Url.Content("~/css/admin-navbar.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/all-interviews.css")" rel="stylesheet" type="text/css" />
}

<partial name="_StatusMessage" model="Model.StatusMessage" />
<partial name="_AdminNavigationPartial" />

<h1 class="text-center h-title">Manage nationalities</h1>

<div class="row justify-content-center">

    <div class="col-md-4">
        <form asp-area="Administration" asp-controller="Administration" asp-action="AddNationality" method="post">
            <div class="form-group">
                <label asp-for="Add" class="control-label"></label>
                <input asp-for="Add" class="form-control" data-val="true" aria-describedby="CompanyNationality-error" />
                <span asp-validation-for="Add" class="text-danger"></span>
            </div>
            <div class="form-group button-question">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>

    <div class="col-md-4">
        <form asp-area="Administration" asp-controller="Administration" asp-action="DeleteNationality" method="post">
            <div class="form-group">
                <label asp-for="Delete" class="control-label"></label>
                <select asp-for="Delete" class="form-control" data-val="true" aria-describedby="CompanyNationality-error" asp-items="Model.Nationalities">
                </select>
                <span asp-validation-for="Delete" class="text-danger"></span>
            </div>
            <div class="form-group button-question">
                <input type="submit" value="Delete" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}