.h-title {
    color: #0c3e72;
    font-weight: bold;
    font-size: 24px;
    font-family: "Open Sans", sans-serif;
    margin: 1%;    
}

.div-row-header {
    color: #fe5c24;
    font-size: 16px;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #e3e8fa;
    padding: 1%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.div-outer-interviews {
    position: center;
}

.div-row {
    color: #0c3e72;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    /*border-bottom-style: solid;
    border-width: 1px;
    border-color: #e3e8fa;*/
    padding: 1%;
    padding-top: 2%;
}

.btn-details {
    font-size: 15px;
    background-color: #0c3e72;
    border: none;
}

    .btn-details:hover, .btn-details:focus, .btn-details:active {
        background-color: #fe5c24;
    }

.a-user {
    display: inline-block;
    color: #0c3e72;
    text-decoration: none;
}

    .a-user:hover, .a-user:focus, .a-user:active {
        text-decoration: none;
        color: #fe5c24;
    }

.circular-portrait {
    display: inline-block;
    position: relative;
    width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 45%;
}

    .circular-portrait img {
        width: 100%;
        height: 100%;     
    }
