.inner-form {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    padding: 10px;
    /*margin-bottom: 10px;*/

}

.question {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.button-question{
    margin-top: 10px;
}
