.required::after {
    content: " *";
    color: red;
}

.main-font-style {
    font: 15px/1.6 'Ubuntu', sans-serif;
    color: #1E1E1E;
}

.heading-font {
    font-size: 24px;
    margin: 3%;
}

.sub-heading-font {
    font-size: 18px;
}

select {
    -webkit-appearance: menulist-button !important;
/*    color: #1E1E1E !important;*/
}

.form-control {
    color: #1E1E1E !important;
}

@media screen and (max-width: 768px) {

    .mr-2 {
        margin: 2%;
    }

    .file-upload {
        margin: 2%;
    }
}

