.main-container {
    display: flex;
    justify-content: space-between;
}

.main {
    width: 75%;
    border-right: solid #1E1E1E 2px;
    text-align: center;
}

.aside {
    width: 25%;
    text-align: center;
    background-color: #f9f9f9;
}

hr.hr-style {
    border-top: 1px solid #1E1E1E;
    width: 90%;
}

.short-content {
    display: flex;
    justify-content: space-around;
}

    .short-content > div {
        width: 32%;
    }

.d-inline-block {
    display: inline-block;
}

.h-title {
    font-size: 22px;
    margin: 1%;
    margin-top: 2%;
}

.deleted {
    color: red;
    font-weight: bold;
}

.div-row-plain-text {
    color: white;
}

.btn-primary {
    background-color: #0c3e72;
    border: none;
}

.div-r-border {
    border-style: solid;
    border-width: 1px;
    border-color: #adb5bd;
    border-radius: 5px;
}

.comment-count {
    font-size: 12px;
}

.comment-count2 {
    font-size: 12px;
}

.div-m {
    margin: 1%;
}

.btn-comments {
    color: #0c3e72;
    margin-left: 1%;
    margin-top: 1%;
}

.form {
    width: 100%;
}

.div-textarea {
    width: 85%;
}

.a-user-link {
    display: inline-block;
    color: #1E1E1E;
    text-decoration: none;
    padding-left: 2px;
    border-bottom: solid #1E1E1E 1px;
}

    .a-user-link:hover, .a-user:focus, .a-user:active {
        text-decoration: none;
        color: #0065b3;
        padding-left: 0;
        font-weight: 600;
    }

.disable-link {
    pointer-events: none;
    cursor: default;
}

.div-q-row {
    margin-top: 2%;
    margin-bottom: 2%;
}

.img-glifi {
    max-width: 20px;
}

.info-direction {
    max-width: 0.7em;
}

.vote-up {
    border-radius: 50%;
    margin: 2%;
}

.liked {
    background-color: #FFD900;
}

.content-description {
    font-size: 0.9em;
    padding-left: 5%;
    padding-right: 5%;
}

.seniority {
    display: inline-block;
    margin-bottom: 0.5em;
}

.wrap {
    overflow-wrap: break-word;
}

.legend-wrapper {
    font-size: 0.85em;
}

.legend-text {
    padding-left: 1%;
    padding-right: 1%;
}

img.img-glifi {
    vertical-align: sub;
} 

@media screen and (max-width: 576px) {
    hr .hr-style {
        width: 100%;
    }

    .main-container {
        display: block;
    }

    .main {
         width: 100%; 
         border-right: none; 
    }

    .aside {
        margin-top: 1em;
        width: 100%;
        background-color: #FFFFFF;
    }
}


@media screen and (max-width: 576px) {

    .div-question-border-bottom {
        margin: 0px;
    }

    .h-title {
        font-size: 16px;
    }

    .div-r-border {
        border-radius: 0px;
        border-left: none;
        border-right: none;
    }

    .legend-wrapper {
        font-size: 0.80em;
    }

    .img-glifi {
        max-width: 15px;
    }
}

@media screen and (max-width: 576px) {

    .description-font {
        font-size: 12px;
        padding: 1%;
    }

    .show-over {
        visibility: hidden;
        display: none;
    }
}

@media screen and (min-width: 576px) {

    .show-under {
        visibility: hidden;
        display: none;
    }
}
