.h-title {
    color: #0c3e72;
    font-size: 24px;
    font-family: "Open Sans", sans-serif;
    margin: 1%;
    margin-top: 2%;
}

.div-row-header {
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #e3e8fa;
    padding: 1%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.heading-font {
    color: #fe5c24;
    font-size: 16px;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
}

.div-row {
    color: #0c3e72;
    font-size: 16px;
    font-weight: normal;
    font-family: "Open Sans", sans-serif;
}

.deleted {
    color: red;
    font-weight: bold;
}

.div-row-plain-text {
    color: white;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
}

.div-q-interviews {
}

.div-r-border {
    border-style: solid;
    border-width: 1px;
    border-color: #e3e8fa;
    border-radius: 5px;
}

.div-m {
    margin: 1%;
}

.btn-comments {
    color: #0c3e72;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    margin-left: 1%;
    margin-top: 1%;
}

.form {
    width: 100%;
}

.div-textarea {
    width: 85%;
}

.a-user-link {
    display: inline-block;
    color: #0c3e72;
    text-decoration: none;
}

.a-user-link:hover, .a-user:focus, .a-user:active {
    text-decoration: none;
    color: #fe5c24;
}

.disable-link {
    pointer-events: none;
    cursor: default;
}

.div-q-row {
    margin-top: 2%;
    margin-bottom: 2%;
}

.img-glifi {
    max-width: 20px;
}

.vote-up {
    border-radius: 50%;
    margin: 2%;
}

.liked {
    background-color: #fe5c24;
}

.wrap {
    overflow-wrap: break-word;
}

@media screen and (max-width: 768px) {

    .heading-font {
        font-size: 14px;
    }

    .btn-detail {
        margin-top: 3%;
        margin-bottom: 3%;
    }

    .h-title {
        font-size: 20px;
    }

    .div-row-header {
        font-size: 14px;
    }

    .div-row {
        font-size: 12px;
    }

    .btn-details {
        font-size: 12px !important;
    }
}

@media screen and (max-width: 576px) {

    .div-question-border-bottom {
        margin: 0px;
    }
    .h-title {
        font-size: 16px;
    }

    .div-r-border {
    border-radius: 0px;
    border-left: none;
    border-right: none;
    }
}

@media screen and (max-width: 576px) {

    .description-font {
        font-size: 12px;
        padding: 1%;
    }

    .show-over {
        visibility: hidden;
        display: none;
    }
}

@media screen and (min-width: 576px) {

    .show-under {
        visibility: hidden;
        display: none;
    }
}