a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

@import url("https://fonts.googleapis.com/css?family=Barlow:400,700|Open+Sans:300,400,600&display=swap");
/* line 8, /Applications/MAMP/htdocs/palash/cl/july 2019/193 Travel/193 travel html/sass/_extends.scss */

/**************menu part start*****************/
.main_menu .navbar-brand {
    padding-top: 0rem;
}

@media screen and (max-width: 575px) {
    #brand {
        max-width: 75px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 1200px) {
    #brand {
        max-width: 150px;
        height: auto;
    }
}

.main_menu .navbar {
    padding: 0px;
}

.main_menu .main-menu-item ul li .nav-link {
    color: #0c3e72;
    font-size: 16px;
    padding: 38px 22px;
    font-family: "Open Sans", sans-serif;
    text-transform: capitalize;
}

    .main_menu .main-menu-item ul li .nav-link:hover {
        color: #fe5c24;
    }

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .main_menu .main-menu-item ul li .nav-link {
        padding: 35px 16px;
    }
}

.menu_fixed .main-menu-item ul li .nav-link {
    padding: 25px 25px;
}

.dropdown .dropdown-menu {
    transition: all 0.5s;
    overflow: hidden;
    transform-origin: top center;
    transform: scale(1, 0);
    display: block;
    margin-top: 0px;
    border: 0px solid rgba(0, 0, 0, 0.15) !important;
    background-color: white;
    border-radius: 5px;
}

.dropdown:hover .dropdown-menu {
    transform: scale(1);
}

@media (max-width: 991px) {

    .main_menu_iner {
    padding: 20px 0px;
    }
    
    .navbar-light .navbar-toggler {
        border-color: transparent;
    }
    
    .navbar-collapse {
        z-index: 9999 !important;
        position: absolute;
        left: 0;
        top: 65px;
        width: 100%;
        background-color: #fff;
        text-align: center !important;
    }
    
    .dropdown-item {
        color: #0c3e72;
    }
    
    .dropdown-item:hover {
        background-color: #f0f5f5;
    }
    
    .dropdown .dropdown-menu {
        transform: scale(1, 0);
        display: none;
    }

    .dropdown:hover .dropdown-menu {
        transform: scale(1);
        display: block;
        color: #0c3e72 !important;
    }
    
    .main_menu .main-menu-item {
        text-align: left !important;
    }
    
    .main_menu .main-menu-item .nav-item {
        padding: 10px 15px !important;
    }
    
    .main_menu .main-menu-item .nav-item a {
         padding: 0 !important;
    }

    .btn-logout {
        padding: 0px !important;
    }
}
