a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

#brand {
    max-width: 180px;
    height: auto;
}
/**************menu part start*****************/
.main_menu .navbar-brand {
    padding-top: 0rem;
}

.navbar-light .navbar-brand {
    color: #1E1E1E;
  }
  
  .navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
    color: #0065b3;
  }
  
  .navbar-light .navbar-nav .nav-link {
    color: #1E1E1E;
  }
  
  .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: #0065b3;
  }

li .nav-link {
    font: 15px/1.5 'Ubuntu', sans-serif;
    color: #1E1E1E;
}

li .nav-link:hover {
    color: #0065b3;
}

@media screen and (max-width: 575px) {
    #brand {
        max-width: 75px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 1200px) {
    #brand {
        max-width: 150px;
        height: auto;
    }
}

.main_menu .navbar {
    padding: 0px;
}

.main_menu .main-menu-item ul li .nav-link {
    padding: 38px 22px;
    text-transform: capitalize;
}

.seniority {
    max-width: 2.4em;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .main_menu .main-menu-item ul li .nav-link {
        padding: 35px 16px;
    }
}

.menu_fixed .main-menu-item ul li .nav-link {
    padding: 25px 25px;
}

.dropdown .dropdown-menu {
    transition: all 0.5s;
    overflow: hidden;
    transform-origin: top center;
    transform: scale(1, 0);
    display: block;
    margin-top: 0px;
    border: 0px solid rgba(0, 0, 0, 0.15) !important;
    background-color: white;
    border-radius: 5px;
}

.dropdown:hover .dropdown-menu {
    transform: scale(1);
}

@media (max-width: 991px) {

    .main_menu_iner {
    padding: 20px 0px;
    }
    
    .navbar-light .navbar-toggler {
        border-color: transparent;
    }
    
    .navbar-collapse {
        z-index: 9999 !important;
        position: absolute;
        left: 0;
        top: 65px;
        width: 100%;
        background-color: #fff;
        text-align: center !important;
    }
    
    .dropdown .dropdown-menu {
        transform: scale(1, 0);
        display: none;
    }

    .dropdown:hover .dropdown-menu {
        transform: scale(1);
        display: block;
    }
    
    .main_menu .main-menu-item {
        text-align: left !important;
    }
    
    .main_menu .main-menu-item .nav-item {
        padding: 10px 15px !important;
    }
    
    .main_menu .main-menu-item .nav-item a {
         padding: 0 !important;
    }

    .btn-logout {
        padding: 0px !important;
    }
}
