.div-m2 {
    margin: 1%;
}

.btn-comments2 {
    color: #0c3e72;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    margin-left: 1%;
    margin-top: 1%;
}

.span-text {
    font-weight: bold;
}

.fond-bold {
    font-weight: bold;
    font-size: 15px;
}

.disable-link {
    pointer-events: none;
    cursor: default;
    background-color: lightgrey;
}

.mark-box {
    background-color: lightcyan;
}