/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
/*body {
    font-family: "Open Sans", sans-serif;
}*/

.span-items-count {
    color: #0065b3;
    border: solid 1px;
    border-color: #1E1E1E;
}

.div-question-border-bottom {
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #1E1E1E;
}

.div-small-fond {
    font-size: 11px;
}

.border-bottom {
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #1E1E1E;
}
