@model ErrorVM
@{
    this.ViewData["Title"] = "Error";
}
@section Styles {
    <link href="@Url.Content("~/css/error.css")" rel="stylesheet" type="text/css" />
}
<div class="justify-content-center main-font-style">
    <div class="danger-border">
        <h1 class="heading-font heading-color-danger">Something unexpected happened!</h1>
        <h2 class="sub-heading-font">We are very sorry for that situation.</h2>

        @if (this.Model.ShowRequestId)
        {
            <p>
                <strong>Request ID:</strong> <code>@this.Model.RequestId</code>
            </p>
        }

        <p>@Model.Message</p>

    </div>
</div>